extends ./layout.jade
append init
    - var bodyclass = "big"
append head
    title sean lee
append body
    header
        h1 appropreader
        div#name
            |lol
    script(src="./bundle.js")


